@model CookBook.WEB.Models.UserViewModel
@{
    Layout = null;
}

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
@Styles.Render("~/Content/bootstrap-editable/css")
@Scripts.Render("~/bundles/bootstrap-editable/js")
@Scripts.Render("~/bundles/profile/about/js")
@Styles.Render("~/Content/profile/about/css")
<input id="userEmail" type="hidden" value="@Model.Email" />
<div class="mg-top--30">
    <h4>User information</h4>
    <hr />
    <div class="row">
        <div class="col-4">
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl"/>
            }
            else
            {
                <img src="http://missingkids-stage.adobecqms.net/etc/clientlibs/ncmec/poster/images/poster/en_US/noPhotoAvailable.jpg"/>
            }
        </div>
        <div class="col-8">
            <div class="star" id="rating">
                @{
                    var remain = Model.AverageRating - (int)Model.AverageRating;
                    int i = 0;
                    for (i = 0; i < (int)Model.AverageRating; i++)
                    {
                        <img src="@Links.Content.Images.icons8_star_filled_50_png"/>
                    }
                    if (remain != 0)
                    {
                        <img src="@Links.Content.Images.icons8_star_half_empty_50_png"/>
                    }
                    while (i < 5)
                    {
                        i++;
                        <img src="@Links.Content.Images.icons8_star_50_png"/>
                    }
                }
            </div>
            <div class="mg-top-35">
                <b>User Email:</b> @Model.Email<br /><br />
                @if (User.IsInRole("admin") || User.Identity.Name == Model.Email)
                {
                    <b>
                        User name:
                    </b>
                    <a href="#" class="editable-text" id="username" name="UserName" data-title="Enter username">@Model.UserName</a><br /><br />
                    <b>
                        About me:
                    </b>
                    <a href="#" class="editable-text" id="information" name="Information" data-title="Enter information">@Model.Information</a>
                }
                else
                {
                    <b>
                        User name:
                    </b>@Model.UserName<br /><br />
                    <b>
                        About me:
                    </b>@Model.Information
                }
            </div>
        </div>
    </div>
</div>
