@model PagedList.IPagedList<CookBook.WEB.Models.RecipesViewModel>
@using PagedList.Mvc;
@using CookBook.WEB.Helpers
@{
    Layout = null;
}
@Styles.Render("~/Content/pageList")
@Scripts.Render("~/bundles/profile/user-recipes/js")
@Styles.Render("~/Content/profile/user-recipes/css")
<div class="recipes">
    <div class="title">
        <h4>MY RECIPES</h4>
        @Ajax.ImageActionLink("/Content/Images/plus.png", "", "AddRecipe", null, new AjaxOptions { UpdateTargetId = "newrecipe" }, new { @id = "plus", width = "50", height = "50" })

    </div>
    <hr />
    <div class="mg-left-30">
        @foreach (var recipe in Model)
        {
            <div id="@recipe.Id" class="card card-recipe">
                <div class="card-image">
                    @if (recipe.ImageUrl != null)
                    {
                        <img class="card-img-top" src="@recipe.ImageUrl">
                    }
                    else
                    {
                        <img class="card-img-top" src="http://missingkids-stage.adobecqms.net/etc/clientlibs/ncmec/poster/images/poster/en_US/noPhotoAvailable.jpg">
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <p class="card-text">@recipe.ShortDescription</p>
                </div>
                @if (@Request.Params["email"] == null || @Request.Params["email"] == User.Identity.Name || User.IsInRole("admin"))
                {
                    @Html.ActionLink("EDIT", "GetRecipe", "Profile", new { id = recipe.Id }, new { @class = "edit-button" })
                }
            </div>
        }
    </div>
</div>
<div class="center">
    @Html.PagedListPager(Model, page => Url.Action("UserRecipes", new { page, email= @Request.Params["email"] }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "Get",
                UpdateTargetId = "results"
            }))
</div>
<div id="getRecipe" data-request-url="@Url.Action("GetRecipe", "Profile")"></div>