@model PagedList.IPagedList<CookBook.WEB.Models.RecipesViewModel>
@using PagedList.Mvc;
@using CookBook.WEB.Helpers
@{
    Layout = null;
}
@Styles.Render("~/Content/pageList")
@Styles.Render("~/Content/profile/user-recipes/css")
@Scripts.Render("~/bundles/profile/refresh-profile-recipes")
@Scripts.Render("~/bundles/profile/user-recipes/js")
<div class="recipes">
    <div class="title">
        <h4>MY RECIPES</h4>
        @{
            var email = Request.Params["email"] ?? User.Identity.Name;
            <input id="userEmail" type="hidden" value=@email>
        }
        @if (User.IsInRole("admin") || User.Identity.Name == email)
        {
            @Ajax.ImageActionLink("/Content/Images/plus.png", "", "AddRecipe", null, new AjaxOptions { UpdateTargetId = "newrecipe" }, new { @id = "plus", width = "50", height = "50" })
        }

    </div>
    <hr />
    <div class="mg-left-35">
        @foreach (var recipe in Model)
        {
            <div id="@recipe.Id" class="card card-recipe">
                <div class="card-image">
                    @if (recipe.ImageUrl != null)
                    {
                        <img class="card-img-top" src="@recipe.ImageUrl">
                    }
                    else
                    {
                        <img class="card-img-top" src="http://missingkids-stage.adobecqms.net/etc/clientlibs/ncmec/poster/images/poster/en_US/noPhotoAvailable.jpg">
                    }
                </div>
                <div class="remove">
                    <input type="image" src="~/Content/Images/exit.png" value="@recipe.Id">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <p class="card-text">@recipe.ShortDescription</p>
                </div>
                @if (@Request.Params["email"] == null || @Request.Params["email"] == User.Identity.Name || User.IsInRole("admin"))
                {
                    @Ajax.ActionLink("EDIT", MVC.Profile.EditableRecipe(recipe.Id), new AjaxOptions { UpdateTargetId = "newrecipe" }, new { @class = "edit-button" })
                }
            </div>
        }
    </div>
</div>
<div id="paging" class="center">
    @Html.PagedListPager(Model, page => Url.Action(MVC.Profile.UserRecipes(@Request.Params["email"], page)), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "Get",
                UpdateTargetId = "results"
            }))
</div>